<<<<<<< HEAD
body {
    font-family: sans-serif;
    background: #aaa7a4;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.login1 {
    text-align: center;
    text-transform: uppercase;
}

.tabelLogin {
    width: 600px;
    background: #a5d862;
    margin: 80px auto;
    padding: 30px 20px;
}

label {
    font-size: 11pt;
}

.form_login {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_login {
    background: #3a977b;
    color: rgb(0, 0, 0);
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
=======
body {
    font-family: sans-serif;
    background: #aaa7a4;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.login1 {
    text-align: center;
    text-transform: uppercase;
}

.tabelLogin {
    width: 600px;
    background: #a5d862;
    margin: 80px auto;
    padding: 30px 20px;
}

label {
    font-size: 11pt;
}

.form_login {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_login {
    background: #3a977b;
    color: rgb(0, 0, 0);
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
>>>>>>> 0fd48be4ee8ecfc958d16aa350b920574a61b311
}